In [1]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv("C:\\Users\\user\\Downloads\\FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding="latin-1")

Question 1.
What is the total number of unique countries in the dataset?

In [6]:
total_unique_countries = df['Area'].nunique()

print("Total number of unique countries:", total_unique_countries)

Total number of unique countries: 49

Question 2
What is the total number and percentage of missing data in 2014 to 3 decimal places?

In [7]:
# Step 1: Filter the DataFrame to select only the rows with Year equal to 2014
data_2014 = df['Y2014']

# Step 2: Calculate the total number of missing values for each column in the 2014 data
missing_data_2014 = data_2014.isnull().sum()

# Step 3: Calculate the total number of missing values across all columns in 2014
total_missing_2014 = missing_data_2014.sum()

# Step 4: Calculate the total number of values in the 2014 data
total_values_2014 = data_2014.size

# Step 5: Calculate the percentage of missing data in 2014 to 3 decimal places
percentage_missing_2014 = (total_missing_2014 / total_values_2014) * 100

# Print the results
print("Total number of missing values in 2014:", total_missing_2014)
print("Percentage of missing data in 2014 (to 3 decimal places): {:.3f}%".format(percentage_missing_2014))

Total number of missing values in 2014: 1589
Percentage of missing data in 2014 (to 3 decimal places): 2.607%

Question 3. Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?

In [8]:
# Step 1: Select the 'Y2017' and 'Area' columns
selected_columns = df[['Y2017', 'Area']]

# Step 2: Group the data by the 'Area' column and calculate the sum for 'Y2017' within each group
grouped_data = selected_columns.groupby('Area')['Y2017'].sum()

# Step 3: Find the area with the highest sum in 2017
area_with_highest_sum = grouped_data.idxmax()
highest_sum_value = grouped_data.max()

# Print the result
print("Area with the highest sum in 2017:", area_with_highest_sum)
print("The highest sum in 2017 for that area:", highest_sum_value)

Area with the highest sum in 2017: Nigeria
The highest sum in 2017 for that area: 1483268.23

Question 4
What would be the output for?

S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

In [9]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

Question 5.
What is the total Protein supply quantity in Madagascar in 2015?

In [21]:
# Step 1: Filter the DataFrame to select rows where 'Country' is Madagascar and 'Year' is 2015
madagascar_2015_data = df[(df['Area'] == 'Madagascar') & (df['Y2015'])]

# Step 2: Calculate the total protein supply quantity for Madagascar in 2015
total_protein_supply_2015 = madagascar_2015_data['Element'] == 'Protein supply quantity'

# Print the result
print("Total Protein supply quantity in Madagascar in 2015:", total_protein_supply_2015)

Total Protein supply quantity in Madagascar in 2015: 30715    False
30717    False
30718    False
30719    False
30720    False
         ...
32147    False
32149    False
32150    False
32152    False
32153    False
Name: Element, Length: 783, dtype: bool

Question 6
If you have the following list

lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = [‘Age’,’Nationality’,’Overall’]

How do you create a pandas DataFrame using this list, to look like the table below?

In [22]:
# Given list
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30, 'Brazil', 92]]

# Column names
col = ['Age', 'Nationality', 'Overall']

# Create a DataFrame
Df = pd.DataFrame(lst, columns=col)

# Display the DataFrame
print(Df)

   Age Nationality  Overall
0   35    Portugal       94
1   33   Argentina       93
2   30      Brazil       92

Question 7
Which of the following dataframe methods can be used to access elements across rows and columns?

Question 8
Answer the following questions based on the African food production dataset provided by the FAO website already provided

What is the total sum of Wine produced in 2015 and 2018 respectively?

Hint:

Perform a groupby sum aggregation on ‘Item’

In [24]:
# Step 1: Perform a groupby sum aggregation on 'Item' for columns Y2015 and Y2018
wine_production_by_year = df.groupby('Item')[['Y2015', 'Y2018']].sum().reset_index()

# Step 2: Calculate the total sum of wine produced in 2015 and 2018
wine_2015_sum = wine_production_by_year['Y2015'].sum()
wine_2018_sum = wine_production_by_year['Y2018'].sum()

# Print the results
print("Total Wine produced in 2015:", wine_2015_sum)
print("Total Wine produced in 2018:", wine_2018_sum)

Total Wine produced in 2015: 8032340.23
Total Wine produced in 2018: 8554629.96

Question 9
What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

In [30]:
import pandas as pd

# Assuming df is your DataFrame

# Step 1: Select the columns for the year 2017
columns_2017 = [col for col in df.columns if col.startswith('Y2017')]

# Step 2: Filter the DataFrame for the year 2017
df_2017 = df[columns_2017]

# Step 3: Calculate the mean and standard deviation for the year 2017
mean_2017 = df_2017.mean().mean()  # Calculate the mean twice to get a single mean value
std_deviation_2017 = df_2017.stack().std()  # Use .stack() to convert DataFrame to Series and calculate std deviation

# Print the results to 2 decimal places
print("Mean for the year 2017:", round(mean_2017, 2))
print("Standard Deviation for the year 2017:", round(std_deviation_2017, 2))

Mean for the year 2017: 140.92
Standard Deviation for the year 2017: 1671.86

Question 10
Which year had the least correlation with ‘Element Code’?

In [31]:
# Step 1: Select the 'Element Code' column and the year columns (assuming they start with 'Y')
year_columns = [col for col in df.columns if col.startswith('Y')]
columns_to_compare = ['Element Code'] + year_columns

# Step 2: Calculate the correlation between 'Element Code' and each year's column
correlations = {}
for year_col in year_columns:
    correlation = df['Element Code'].corr(df[year_col])
    correlations[year_col] = correlation

# Step 3: Find the year with the least correlation
min_correlation_year = min(correlations, key=correlations.get)

# Print the year with the least correlation and its correlation value
print("Year with the least correlation with 'Element Code':", min_correlation_year)
print("Correlation value:", correlations[min_correlation_year])

Year with the least correlation with 'Element Code': Y2016
Correlation value: 0.023443997584961428

Question 11
A pandas Dataframe with dimensions (100,3) has how many features and observations?

Question 12.
Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?

In [32]:
# Step 1: Select columns 'Y2017' and 'Area'
df_subset = df[['Area', 'Y2017']]

# Step 2: Perform a groupby operation on 'Area' and calculate the sum for each area in 2017
grouped = df_subset.groupby('Area')['Y2017'].sum().reset_index()

# Step 3: Sort the grouped DataFrame by the sum in ascending order
sorted_grouped = grouped.sort_values(by='Y2017', ascending=True)

# Step 4: Get the area with the 7th lowest sum in 2017
seventh_lowest_area = sorted_grouped.iloc[6]['Area']

# Print the result
print("Area with the 7th lowest sum in 2017:", seventh_lowest_area)

Area with the 7th lowest sum in 2017: Guinea-Bissau

Question 13.
Given the following python code, what would the output of the code give?

my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

In [33]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

Question 14
Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?

In [34]:
# Step 1: Select the columns 'Element' and 'Y2017'
df_subset = df[['Element', 'Y2017']]

# Step 2: Perform a groupby operation on 'Element' and calculate the sum for each element in 2017
grouped = df_subset.groupby('Element')['Y2017'].sum().reset_index()

# Step 3: Filter for the 'Processing' element and get its sum in 2017
processing_sum_2017 = grouped[grouped['Element'] == 'Processing']['Y2017'].values[0]

# Print the result
print("Total sum of 'Processing' in 2017:", processing_sum_2017)

Total sum of 'Processing' in 2017: 292836.0

Question 15
Consider the following list of tuples:

y = [(2, 4), (7, 8), (1, 5, 9)]

How would you assign element 8 from the list to a variable x?

In [35]:
y = [(2, 4), (7, 8), (1, 5, 9)]

# Assign element 8 to variable x
x = y[1][1]

# Print the value of x
print(x)

8

Question 16.
Which of these python data structures is unorderly?

Question 17.
How would you check for the number of rows and columns in a pandas DataFrame named df?

In [36]:
# Get the number of rows and columns
num_rows, num_columns = df.shape

# Print the results
print("Number of rows:", num_rows)
print("Number of columns:", num_columns)

Number of rows: 60943
Number of columns: 12

Question 18
Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?

In [38]:
import pandas as pd

# Assuming df is your DataFrame

# Step 1: Select the columns 'Element' and all year columns (assuming they start with 'Y')
year_columns = [col for col in df.columns if col.startswith('Y')]
columns_to_groupby = ['Element'] + year_columns

# Step 2: Create a subset of the DataFrame with the selected columns
df_subset = df[columns_to_groupby]

# Step 3: Perform a groupby operation on 'Element' and calculate the sum for each element in each year
grouped = df_subset.groupby('Element')[year_columns].sum()

# Step 4: Find the year with the highest sum of 'Stock Variation' across all elements
year_with_highest_stock_variation = grouped.sum(axis=0).idxmax()

# Print the result
print("Year with the highest sum of 'Stock Variation':", year_with_highest_stock_variation)

Year with the highest sum of 'Stock Variation': Y2018

Question 20
Given the following numpy array 

array  = ([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

How would you select  the elements in bold and italics from the array?

In [47]:
# Create the numpy array
array = np.array([[94, 89, 63],
                  [93, 92, 48],
                  [92, 94, 56]])

# Select the elements in bold and italics
selected_elements =array[ : 1, 1 :] ,array[ : 2, 1 : ] 

# Print the selected elements
print(selected_elements)

(array([[89, 63]]), array([[89, 63],
       [92, 48]]))